.noPadding {
    padding: 0 0 0 0;
}
#tab {
    padding: 40px 0;
}

#preFooter {
    margin-bottom: 0;
}

.rewards {
    margin-right: 100px;
}

.reminders {
    background: white;
}

@media all and (max-width: 767px) {
    .c-content-tab-2 > .nav > li + li {
      margin-left: 0px;
    }
    .flexBox {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
